.main {
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 20px auto;
}

.main-header {
background-color: lightgray;
width: 100%;
display: flex;
margin: 30px auto;
justify-content: space-between;
align-items: center;
}

.main-header h4 {
margin: 20px;
}
  
.main-container {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
